{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "jsxCurlyNewline": "consistent",
  "trailingComma:": "es5",
  "singleAttributePerLine": true,
  "printWidth": 80
}
